# Go
firmware/vendor/
firmware/*.exe
firmware/*.test
firmware/bin/
firmware/web/dist/*
!firmware/web/dist/.gitkeep
*.db

# Node / React
app/node_modules/
app/dist/
app/.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env
*.env
